<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адмінка</title>
</head>
<body>
    <h1>Адмінка транзакцій</h1>
    <ul>
        <li><a href="/add_user_form">Додати користувача</a></li>
        <li><a href="/add_transaction_form">Додати транзакцію</a></li>
        <li><a href="/get_user_form">Отримати користувача за ID</a></li>
        <li><a href="/get_users_form">Отримати всіх користувачів</a></li>
        <li><a href="/statistics_form">Статистика</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>
